.background-grid {
    display: flex;
    background: #000000;
    height: 100%;
}

.login {
    flex: 30%;
    padding: 20px;
}


.login_button {
    height: 20px;
    background-color: #ff6511;
    color: white;
    padding: 14px 65px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    vertical-align: middle;
    white-space:nowrap;
    }

.newsletter {
    background: black;
    flex: 70%;
    padding: 20px;
}




body {
margin: 0px;
}

.login_box {
border-radius: 5px;
background-color: #1e2120;
padding: 20px;
border: 1px solid #353a38;
border-radius: 4px;
width:376px;
height:224px;
}

.error {
margin:0px;
color: #ff6511;
}


.create_account_box {
border-radius: 5px;
background-color: #1e2120;
padding: 20px;
border: 1px solid #353a38;
border-radius: 4px;
width:376px;
height:145px;
margin: auto;
}


.labels {
color: #ff6511;
}


input[type=text], select {
width: 100%;
padding: 12px 20px;
margin: 8px 0;
color: white;
display: inline-block;
border: 1px solid #353a38;
background-color: black;
border-radius: 4px;
box-sizing: border-box;
}

input[type=password], select {
width: 100%;
padding: 12px 20px;
margin: 8px 0;
color: white;
display: inline-block;
border: 1px solid #353a38;
background-color: black;
border-radius: 4px;
box-sizing: border-box;
}

input[type=submit] {
width: 100%;
background-color: #ff6511;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
border-radius: 4px;
cursor: pointer;
}

input[type=submit]:hover {
background-color: #c14c0d;
}

.create_account:hover {
background-color: #c14c0d;
}

.create_account {
height: 20px;
background-color: #ff6511;
color: white;
padding: 14px 27.5px;
border: none;
border-radius: 4px;
cursor: pointer;
text-decoration: none;
vertical-align: middle;
white-space:nowrap;
}

.forgot_account:hover {
background-color: #c14c0d;
}

.forgot_account {
background-color: #ff6511;
color: white;
padding: 14px 20px;
border: none;
border-radius: 4px;
cursor: pointer;
text-decoration: none;
white-space:nowrap;
}

.bottom_buttons_container {
border-radius: 5px;
background-color: #1e2120;
padding: 15px;
margin-top: 10px;
border: 1px solid #353a38;
border-radius: 4px;
display:flex;
justify-content:space-between;
width:386px;
margin: auto;
margin-top: 10px;
}

.post {
border: 1px solid #474f4c;
border-radius: 4px;
height: 240px;
margin-bottom:

}


.post_date {
color: white;
margin:0px;
padding:5px;
}

.all {
    background-color: #000000;
    height: 100%;
    padding-top: 100px;
}

.post_text {
color: white;
background-color: #1e2120;
margin: 0px;
height: 50px;
border: 1px solid #474f4c;
border-radius: 4px;
padding:10px;
height: 172px;
}

.top {
background-color: #353a38;
padding:5px;
padding-left:10px;
padding-right:10px;
height: 28px;
}



.middle {
background-color: #353a38;
padding: 10px;
padding-top: 0px;
height: 192px;
}



