.post {
    margin: 15px;
    background-color: #1e2120;
    height: fit-content;
    
}

.contents {
    padding: 30px;
}


.title_bar {
    background-color: #353a38;
}


.post {
    border: 1px solid #474f4c;
    border-radius: 4px;

}

.feedback {
    background-color: #ff6511;
    padding: 18px 24px;
    color: white;
    font-size: 40px;
    text-decoration: none; 
    float: right;
    margin-right: 30px;
    margin-top: 15px;
    border-radius: 8px;
}

.post_date {
    color: white;
    margin:0px;
    padding:5px;
}

.post_text {
    color: white;
    background-color: #1e2120;
    border: 1px solid #474f4c;
    border-radius: 4px;
    padding:30px;
    word-wrap: break-word;
    font-size: 25px;
    height:fit-content;
    line-height: 32px;
}

.top {
    background-color: #353a38;
    padding:15px;
    padding-left:30px;
    padding-right:30px;
    font-size: 50px;
    height: fit-content;
}


.middle {
    background-color: #353a38;
    padding: 10px;
    padding-top: 0px;
    height: fit-content;
}


.top_of_news {
    height: 100px;
    margin-bottom: 45px;
}


.title {
    margin-left: 30px;
    font-size: 50px;
    float: left;
  }