.pagination {
    display: inline-block;
  }
  
  .center {
    text-align: center;
  }
  
  .pagination a {
    color: white;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
  }
  
  .pagination a.active {
    background-color: #ff6511;
    color: white;
  }
  
  .pagination a:hover:not(.active) {background-color: #1e2120;}


  .title {
    margin-left: 15px;
  }