{% block head %}
<title> Reset Password </title>
<link rel="stylesheet" href="{{ url_for('static', filename='reset_password.css') }}">
<link rel="stylesheet" type="text/css" media="only screen and (max-width: 480px), only screen and (max-device-width: 480px)" href="{{ url_for('static', filename='create_post_mobile.css') }}" />
{% endblock %}

{% block body %}
<body>
  <div class="logo">
    <img src="/static/assets/logo.PNG" alt="Rectangle Logo">
  </div>
      <div class="create_account_box">
        <form style="margin:0px" action='/reset_password/{{ token }}' method='POST'>
          <label for="fname" class="labels">Password</label>
          <input type='password' name='password' id='password' placeholder="8 character password">
          <br>
          <label for="fname" class="labels">Re-Enter Password</label>
          <input type='password' name='password2' id='password2' placeholder="8 character password">
          <br>
          <input type='submit' value='Reset Password'>
        </form>
        
          {% if error %}
          <p class="error" ><strong>{{ error }}</strong></p>
          {% endif %}
      </div>
</body>
{% endblock %}
