{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='comments.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='feed.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='posts.css') }}">
<link rel="stylesheet" type="text/css" media="only screen and (max-width: 481px), only screen and (max-device-width: 480px)" href="{{ url_for('static', filename='posts_mobile.css') }}" />
<link rel="stylesheet" type="text/css" media="only screen and (max-width: 481px), only screen and (max-device-width: 480px)" href="{{ url_for('static', filename='comments_mobile.css') }}"/>
<title> Rectangle </title>
{% endblock %}

{% block body %}
<body>
    <div class="back">
        {% if posttype == "post" %}
	<a href="/feed/0/{{which}}"> Back </a>
        {% elif posttype == "comment" %}
	<a href="/comments/comments/{{ parent_of_parent_type }}/{{ parent_of_parent.id }}/{{which}}"> Back </a>
        {% endif %}
    </div>
    <div class="title">
        {% if posttype == "post" %}
        <a href="/createcomment/feed/{{ posttype }}/{{ parent.id }}/{{ which }}" class="post_form" style="bottom: 10px;"> Make a New Comment </a>
        {% else %}
        <a href="/createcomment/comments/{{ posttype }}/{{ parent.id }}/{{ which }}" class="post_form" style="bottom: 10px;"> Make a New Comment </a>
        {% endif %}
    </div>


    {% if posttype == "post" %}


    <div class="new_post_comments">
        <div class="new_top">
            <a class="like_count"> {{ parent.likes|length}} </a>
            <a href="{{ '/profile/{0}'.format(parent.user.name) }}" class="name">{{ parent.user.name }}</a>
            <a class="delete" href="/delete/feed/None/None/post/{{ parent.id }}">
                <img src="{{ url_for('static', filename='assets/x1.png') }}">
            </a>      
        </div>
        <div>
          <div class="new_inner">
              <div class="text">
                <p>
                    {{ parent.text }}
                </p>
            </div>
            <div class="new_bottom">
                <a href="/comments/feed/post/{{ parent.id }}/{{which}}" class="comment_link">comments({{parent.comments|length}})</a>
                <a href="/like/feed/None/None/post/{{ which }}/{{ parent.id }}" class="like_link">
                    {% if user in parent.likes %}
                        unlike
                    {% else %}
                        like
                    {% endif %}
                </a>
                <p class="date"> {{ parent.time_created.strftime("%X") }} </p>
            </div>
          </div>
        </div>
      </div>



        {% for comment in comments %}
            <div class="comment">
                <label class="comment_top">
                    <a class="comment_like_count">  {{ comment.likes|length }} </a>
                    <a href="/profile/{{ parent.user.name }}" class="comment_name">  {{ comment.user.name }} </a>
                    <a class="delete" href="/delete/comments/{{parent.id}}/post/comment/{{comment.id}}">
                        <img src="{{ url_for('static', filename='assets/x1.png') }}">
                    </a>
                            
                </label>
                <div class="comment_drop_box">
                  <div class="comment_content_inner">
                      <div class="comment_text">
                        <p style="margin:0px;"> {{ comment.text }} </p>
                    </div>
                    <div class="comment_bot">
                        <a href="/comments/None/comment/{{ comment.id }}/{{which}}" class="comment_comment_button">comments({{ comment.children_comments.all()|length }})</a>
                        
                        
                        {% if posttype == "post" %}
                            <a href="/like/comments/{{parent.id}}/post/comment/None/{{comment.id}}" class="comment_like_button">
                                {% if user in comment.likes %}
                                    unlike
                                {% else %}
                                    like
                                {% endif %}
                            </a>
                            {% elif posttype == "comment" %}
                            <a href="/like/comments/{{parent.id}}/comment/comment/None/{{comment.id}}" class="comment_like_button">
                                {% if user in comment.likes %}
                                    unlike
                                {% else %}
                                    like
                                {% endif %}
                            </a>
                            {% endif %}
        
                        <p class="comment_time_stamp"> {{ comment.time_created.strftime("%X") }} </p>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
        
    {% elif posttype == "comment" %}

        <div class="new_post_comments">
            <div class="new_top">
                <a class="like_count"> {{ parent.likes|length }} </a>
                <a href="{{ '/profile/{0}'.format(parent.user.name) }}" class="name"> {{ parent.user.name }} </a>
                {% if session["user"] == parent.user.name %}
                <a class="delete" href="/delete/comments/{{parent.id}}/comment/comment/{{ parent.id }}">
                    <img src="{{ url_for('static', filename='assets/x1.png') }}">
                </a>   
                {% endif %}   
            </div>
            <div>
            <div class="new_inner">
                <div class="text">
                    <p>
                        {{ parent.text }}
                    </p>
                </div>
                <div class="new_bottom">
                    <a href="/comments/feed/post/{{ parent.id }}/{{which}}" class="comment_link">comments({{parent.comments|length}})</a>
                    <a href="/like/feed/None/None/post/{{ which }}/{{ parent.id }}" class="like_link">
                        {% if user in parent.likes %}
                            unlike
                        {% else %}
                            like
                        {% endif %}
                    </a>
                    <p class="date"> {{ parent.time_created.strftime("%X") }} </p>
                </div>
            </div>
            </div>
        </div>
    
        
        {% for comment in comments %}
                
            <div class="comment">
                <label class="comment_top">
                    <a class="comment_like_count">  {{ comment.likes|length }} </a>
                    <a href="/profile/{{ parent.user.name }}" class="comment_name">  {{ comment.user.name }} </a>
                    <a class="delete" href="/delete/comments/{{parent.id}}/comment/comment/{{comment.id}}">
                        <img src="{{ url_for('static', filename='assets/x1.png') }}">
                    </a>
                            
                </label>
                <div class="comment_drop_box">
                  <div class="comment_content_inner">
                      <div class="comment_text">
                        <p style="margin:0px;"> {{ comment.text }} </p>
                    </div>
                    <div class="comment_bot">
                        <a href="/comments/None/comment/{{ comment.id }}/{{which}}" class="comment_comment_button">comments({{ comment.children_comments.all()|length }})</a>      
                        
                        {% if posttype == "post" %}
                            <a href="/like/comments/{{parent.id}}/post/comment/None/{{comment.id}}" class="comment_like_button">
                                {% if user in comment.likes %}
                                    unlike
                                {% else %}
                                    like
                                {% endif %}
                            </a>
                        {% elif posttype == "comment" %}
                            <a href="/like/comments/{{parent.id}}/comment/comment/None/{{comment.id}}" class="comment_like_button">
                                {% if user in comment.likes %}
                                    unlike
                                {% else %}
                                    like
                                {% endif %}
                            </a>
                        {% endif %}
        
                        <p class="comment_time_stamp"> {{ comment.time_created.strftime("%X") }} </p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    {% endif %}
</body>
{% endblock %}
