{% block head %}
<title> Login </title>
<link rel="stylesheet" href="{{ url_for('static', filename='forgot_password.css') }}">
<link rel="stylesheet" type="text/css" media="only screen and (max-width: 480px), only screen and (max-device-width: 480px)" href="{{ url_for('static', filename='login_mobile.css') }}" />
{% endblock %}

{% block body %}
<body>
  <div class="all">
    <div class="forgot_box">
      <form style="margin:0px" action='/forgot_password' method='POST'>
        <label for="fname" class="labels"> Account Recovery </label>
        <input type='text' name='email' id='email' placeholder="email">
        <br>
        <input type='submit' value='Send'>
      </form>
      
        {% if error %}
        <p class="error" ><strong>{{ error }}</strong></p>
        {% endif %}
    </div>
    <div class = "bottom_buttons_container">
      <a class="create_account" href='/createaccount'>Create Account</a>
      <a class="login_button" href='/login'>Login</a>
    </div>
  </div>
</body>
{% endblock %}
